
html
    head
        link(rel='icon' href='img/robo.png' type='img/x-icon')
        link(rel='stylesheet' href='css/bootstrap.min.css')
        script(src='js/sorteio.js')
    body
        .text-center 
            img(src='/img/baixada.png' alt="image not found" width= "1000" height="339")
        .text-center#arquivo(style='display:inline-block')            
            input#txtfiletoread(type='file' class='text-center')

        .text-center#botaosorteio
            button(class='btn btn-primary btn-lg' style='display:inline-block' onclick='sorteio(list)') Sorteio
        .text-center#imagem
            img#imagem(src=link)
        p.tex-center#nome(style='font-size: 70px')
            strong text
        
    