html
    head
        link(rel='icon' href='img/robo.png' type='img/x-icon')
        link(rel='stylesheet' href='css/bootstrap.min.css')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        script(src='js/sorteio.js')
    body
        .text-center 
            img#imagem(src='/img/baixada.png' alt="image not found" width= "1000" height="339")
        .text-center#arquivo(style='display:inline-block')            
            input#txtfiletoread(type='file' class='text-center')
        form(name='frmTest' action='/post' method='post' target='my_iframe')
            .text-center
                button(class='btn btn-primary btn-lg' type="submit"  onclick='sorteio(list)') Sorteio
            p.text-center#nome(style='font-size: 70px')
            input#web(type="text" name="nome" style='display:none')  
            label
                input( type="submit" name="sbt" value="Enviar" style='display:none')
            div(class="intrinsic-container intrinsic-container-4x3" align='center')
                iframe(src="127.0.0.1:3000/post" name='my_iframe' frameborder="0") 
                