html
    head
        linnk(rel='stylesheet' href='css/css_imagem.css')
    body        
        div(align="center")
            img(src=link alt="image not found" style="max-width:100%; height:auto" )