<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="./../img/robo.png" type="image/x-icon" />
    <link rel="stylesheet" href="./../css/bootstrap.min.css">
    <script src="./../js/sorteio.js"></script>
    <title>Sorteio</title>
</head>
<body>
    <h3 id="lista" style="display:none"></h3>
    <div class="text-center">
        <img src="./../img/baixada.png" alt="image not found" width= "1000" height="339"/>
        <p>
            <span id="arquivo" style="display:inline-block">
                <input class="text-center" type="file" id="txtfiletoread" /><br />
            </span>
            <span id="sorteio" style="display:none">
                <button class="btn btn-primary btn-lg" id="Sorteio" onclick="sorteio(list)">Sorteio</button>
            </span>
        <p id="nome" style="font-size: 70px" ><strong></strong></p>        
        </p>
    </div> 
</body>
</html>